﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bottle Water Level</title>
    <!-- http://www.srikanth.me/water-bottles-indicating-water-level-using-css3/   -->
    <style>
        body {
            text-align: center;
        }

        .frame {
            width: 200px;
            margin: auto;
            padding 0px;
        }

        .bottle {
            background: #ddd;
            width: 200px;
            border-radius: 5px 5px 10px 10px;
            height: 400px;
            padding: 10px;
            box-shadow: 10px 10px 10px #efefef;
            margin-bottom: 4px;
        }

        .water {
            background: lightblue;
            width: 180px;
            z-index: 1;
            border-radius: 10px 10px 20px 20px;
            text-align: center;
        }

        .water-full {
            margin-top: 25px;
            height: 355px;
        }

        .water-medium {
            margin-top: 130px;
            height: 250px;
        }

        .water-low {
            margin-top: 235px;
            height: 145px;
        }

        .water-empty {
            margin-top: 345px;
            height: 40px;
        }
    </style>
</head>
<body>
    <h1>Bottle Water Level</h1>
    <div class="frame">
        <div class="cap">
            <div class="cap-top">
            </div>
            <div class="cap-seal">
            </div>
        </div>
        <div class="bottle">
            <div id="water" class="water water-empty">
                <h2>/</h2>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    $(document).ready(function () { // http://flaskaweb.azurewebsites.net/Api/Data
        window.setInterval(function () { // http://localhost:50173/Api/Data
            $.getJSON('http://flaskaweb.azurewebsites.net/Api/Data?mil="' + new Date().getMilliseconds() + '"', function (data) {
                console.log(data);
                var waterClass = $('#water');
                var waterVolume = $('#water > h2');
                waterClass.removeClass('water-full water-medium water-low water-empty');
                waterVolume.text((data.Volume * 100).toFixed(1) + '%');
                if (data.Volume < 0.25) {
                    waterClass.addClass('water-empty');
                } else if (data.Volume < 0.5) {
                    waterClass.addClass('water-low');
                } else if (data.Volume < 0.75) {
                    waterClass.addClass('water-medium');
                } else {
                    waterClass.addClass('water-full');
                }
            });
        }, 2000);
    });
</script>

</html>
